/NetCoreWebApi/.vs/
/NetCoreWebApi/ConsoleApp1/bin/
/NetCoreWebApi/ConsoleApp1/obj/
/NetCoreWebApi/NetCoreWebApi/bin/
/NetCoreWebApi/NetCoreWebApi/obj/
/NetCoreWebApi/IdentityWeb/bin/
/NetCoreWebApi/IdentityWeb/obj/
/NetCoreWebApi/WebApplication1/bin/
/NetCoreWebApi/WebApplication1/obj/
